In [1]:
from numpy import array
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, SimpleRNN, GRU

In [3]:
df = pd.read_csv('data/sample.csv',index_col='date')
df

              x
date
2021-01-01    1
2021-01-02    2
2021-01-03    3
2021-01-04    4
2021-01-05    5
...         ...
2021-04-06   96
2021-04-07   97
2021-04-08   98
2021-04-09   99
2021-04-10  100

[100 rows x 1 columns]

In [24]:
df['y'] = df.shift( -1)

In [25]:
df['x_2'] = df['x'].shift(2)

In [26]:
df['x_1'] = df['x'].shift(1)

In [27]:
df['x_0'] = df['x'].shift(0)

In [30]:
df.dropna(inplace=True)

In [33]:
df = df.astype(int)
df

             x    y  x_2  x_1  x_0
date
2021-01-03   3    4    1    2    3
2021-01-04   4    5    2    3    4
2021-01-05   5    6    3    4    5
2021-01-06   6    7    4    5    6
2021-01-07   7    8    5    6    7
...         ..  ...  ...  ...  ...
2021-04-05  95   96   93   94   95
2021-04-06  96   97   94   95   96
2021-04-07  97   98   95   96   97
2021-04-08  98   99   96   97   98
2021-04-09  99  100   97   98   99

[97 rows x 5 columns]

In [37]:
x = df[['x_2','x_1','x_0']].values.reshape(-1,3,1)
x

array([[[ 1],
        [ 2],
        [ 3]],

       [[ 2],
        [ 3],
        [ 4]],

       [[ 3],
        [ 4],
        [ 5]],

       [[ 4],
        [ 5],
        [ 6]],

       [[ 5],
        [ 6],
        [ 7]],

       [[ 6],
        [ 7],
        [ 8]],

       [[ 7],
        [ 8],
        [ 9]],

       [[ 8],
        [ 9],
        [10]],

       [[ 9],
        [10],
        [11]],

       [[10],
        [11],
        [12]],

       [[11],
        [12],
        [13]],

       [[12],
        [13],
        [14]],

       [[13],
        [14],
        [15]],

       [[14],
        [15],
        [16]],

       [[15],
        [16],
        [17]],

       [[16],
        [17],
        [18]],

       [[17],
        [18],
        [19]],

       [[18],
        [19],
        [20]],

       [[19],
        [20],
        [21]],

       [[20],
        [21],
        [22]],

       [[21],
        [22],
        [23]],

       [[22],
        [23],
        [24]],

       [[23],
        [24],
        [25]],

       [[24],
        [25],
        [26]],

       [[25],
        [26],
        [27]],

       [[26],
        [27],
        [28]],

       [[27],
        [28],
        [29]],

       [[28],
        [29],
        [30]],

       [[29],
        [30],
        [31]],

       [[30],
        [31],
        [32]],

       [[31],
        [32],
        [33]],

       [[32],
        [33],
        [34]],

       [[33],
        [34],
        [35]],

       [[34],
        [35],
        [36]],

       [[35],
        [36],
        [37]],

       [[36],
        [37],
        [38]],

       [[37],
        [38],
        [39]],

       [[38],
        [39],
        [40]],

       [[39],
        [40],
        [41]],

       [[40],
        [41],
        [42]],

       [[41],
        [42],
        [43]],

       [[42],
        [43],
        [44]],

       [[43],
        [44],
        [45]],

       [[44],
        [45],
        [46]],

       [[45],
        [46],
        [47]],

       [[46],
        [47],
        [48]],

       [[47],
        [48],
        [49]],

       [[48],
        [49],
        [50]],

       [[49],
        [50],
        [51]],

       [[50],
        [51],
        [52]],

       [[51],
        [52],
        [53]],

       [[52],
        [53],
        [54]],

       [[53],
        [54],
        [55]],

       [[54],
        [55],
        [56]],

       [[55],
        [56],
        [57]],

       [[56],
        [57],
        [58]],

       [[57],
        [58],
        [59]],

       [[58],
        [59],
        [60]],

       [[59],
        [60],
        [61]],

       [[60],
        [61],
        [62]],

       [[61],
        [62],
        [63]],

       [[62],
        [63],
        [64]],

       [[63],
        [64],
        [65]],

       [[64],
        [65],
        [66]],

       [[65],
        [66],
        [67]],

       [[66],
        [67],
        [68]],

       [[67],
        [68],
        [69]],

       [[68],
        [69],
        [70]],

       [[69],
        [70],
        [71]],

       [[70],
        [71],
        [72]],

       [[71],
        [72],
        [73]],

       [[72],
        [73],
        [74]],

       [[73],
        [74],
        [75]],

       [[74],
        [75],
        [76]],

       [[75],
        [76],
        [77]],

       [[76],
        [77],
        [78]],

       [[77],
        [78],
        [79]],

       [[78],
        [79],
        [80]],

       [[79],
        [80],
        [81]],

       [[80],
        [81],
        [82]],

       [[81],
        [82],
        [83]],

       [[82],
        [83],
        [84]],

       [[83],
        [84],
        [85]],

       [[84],
        [85],
        [86]],

       [[85],
        [86],
        [87]],

       [[86],
        [87],
        [88]],

       [[87],
        [88],
        [89]],

       [[88],
        [89],
        [90]],

       [[89],
        [90],
        [91]],

       [[90],
        [91],
        [92]],

       [[91],
        [92],
        [93]],

       [[92],
        [93],
        [94]],

       [[93],
        [94],
        [95]],

       [[94],
        [95],
        [96]],

       [[95],
        [96],
        [97]],

       [[96],
        [97],
        [98]],

       [[97],
        [98],
        [99]]])

In [38]:
y = df['y'].values
y

array([  4,   5,   6,   7,   8,   9,  10,  11,  12,  13,  14,  15,  16,
        17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,  29,
        30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,
        43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
        56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,
        69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,
        82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,
        95,  96,  97,  98,  99, 100])